<div class="w-full">

  <h1 class="font-bold text-4xl mb-8">Crear equipo aleatorio</h1>

  <div class="grid grid-cols-2 gap-5">
    <%= form_with(model: @random_team,  url: random_teams_path, method: :post) do |form| %>
      <div class="flex gap-4 mb-4 max-w-md items-end">
        <div class="form-group">
          <%= form.label :players_per_team, class: "label" %>
          <%= form.number_field :players_per_team, class: "input input-bordered w-full max-w-xs", placeholder: 'Player per team' %>
        </div>
        <div class="form-group">
          <%= form.label :max_generation_attemps, class: "label" %>
          <%= form.number_field :max_generation_attemps, class: "input input-bordered w-full max-w-xs", placeholder: 'Player per team' %>
        </div>
        <div class="gap">
          <%= form.label :gap, class: "label" %>
          <%= form.number_field :gap, class: "input input-bordered w-full max-w-xs" %>
        </div>
      </div>

      <div class="form-group max-w-md grid grid-cols-2 gap-2" data-controller="player-list-sync">
        <%= form.text_area :list,
            data: { player_list_sync_target: "textarea" },
            class: "textarea textarea-bordered w-full min-h-[360px]",
            placeholder: "Lista de jugadores"
        %>

        <% if @validator && !@validator.valid? %>
          <div class="textarea textarea-bordered border-red-400 min-h-[480px] w-full">
            <% @validator.full_players.each do |raw| %>
              <div class="w-full relative">
                <% if raw[:player].present? %>
                  <div class="h-7 w-2"></div>
                <% else %>
                  <%= content_tag :div, class: "relative", data: {
                controller: "autocomplete",
                autocomplete_url_value: players_autocompletes_path,
                action: "autocomplete.change->player-list-sync#copy"
              }, role: "combobox" do %>
                    <input type="text" class="input input-bordered w-full input-xs" data-autocomplete-target="input" value="<%= raw[:name] %>" />
                    <input type="hidden" name="bird_id" data-autocomplete-target="hidden" />
                    <ul class="list-group bg-red-100 absolute z-20 w-full" data-autocomplete-target="results" hidden="">
                    </ul>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

      <%= form.submit "Generar", class: "btn mt-4" %>
    <% end %>

  </div>

  <% if @random_team.teams.any? %>
    <% colors = ["#ff6f70", "#0076ff", "#393646"]  %>

    <div class='grid grid-cols-3 gap-5 mt-6'>
      <% @random_team.teams.each_with_index do |team, index| %>
        <div>
          <h3 class='font-semibold mb-1' style="color: <%= colors[index] %>">
            Team <%= index + 1 %> - <span class='font-normal'><%= team.sum(&:level) %></span>
          </h3>
          <ol class='ml-4' style='list-style: decimal'>
            <% team.sort_by(&:level).reverse.each do |player| %>
              <li><%= player.name %> - <%= player.level %></li>
            <% end %>
          </ol>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
