<div class="w-full">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">
      Generar equipo aleatorio
    </h1>
    <div>
      Numero de intentos: <%= @game_day.generation_attempts %>
    </div>
  </div>

  <div class="grid grid-cols-2 gap-5 mt-6">
    <%= form_with(model: @form,  url: random_teams_path, method: :post) do |form| %>
      <div class="flex gap-4 mb-4 max-w-lg">
        <div class="form-group">
          <%= form.label :players_per_team, class: "label" %>
          <div>
            <%= form.number_field :players_per_team, class: "input input-bordered w-full max-w-xs", placeholder: 'Player per team' %>
            <%= errors_helper(@form, :players_per_team) %>
          </div>

        </div>
        <div class="form-group">
          <%= form.label :max_generation_attemps, class: "label" %>
          <%= form.number_field :max_generation_attemps, class: "input input-bordered w-full max-w-xs", placeholder: 'Player per team' %>
        </div>
        <div class="gap">
          <%= form.label :gap, class: "label" %>
          <%= form.number_field :gap, class: "input input-bordered w-full max-w-xs" %>
        </div>
      </div>

      <div class="form-group max-w-lg grid grid-cols-2 gap-2" data-controller="player-list-sync">
        <div>
          <%= form.text_area :list,
            data: { player_list_sync_target: "textarea" },
            class: "textarea textarea-bordered w-full min-h-[360px]",
            placeholder: "Lista de jugadores"
          %>
          <%= errors_helper(@form, :list) %>
          <% if @game_day.player_list? && @form.duplicated_players.any? %>
            <div class="text-sm">
              <%= @form.duplicated_players.join(",") %>
            </div>
          <% end %>

        </div>

        <% if @form.missing_players.any? %>
          <div class="textarea textarea-bordered border-red-400 min-h-[480px] w-full">
            <h2 class="text-orange-600">Jugadores no válidos</h2>
            <% @form.missing_players.each do |name| %>
              <div class="w-full relative mt-2">
                <%= content_tag :div, class: "relative", data: {
                  controller: "autocomplete",
                  autocomplete_url_value: players_autocompletes_path,
                  action: "autocomplete.change->player-list-sync#copy"
                }, role: "combobox" do %>
                  <input type="text" class="input input-bordered w-full input-xs" data-autocomplete-target="input" value="<%= name %>" />
                  <input type="hidden" name="bird_id" data-autocomplete-target="hidden" />
                  <ul class="list-group bg-red-100 absolute z-20 w-full" data-autocomplete-target="results" hidden="">
                  </ul>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="flex items-end gap-3 my-4">
        <%= form.submit "Generar", class: "btn" %>
      </div>
    <% end %>

  </div>

  <% if @game_day.teams.any? %>
    <% colors = ["#ff6f70", "#0076ff", "#393646"]  %>

    <hr>

    <div class='grid grid-cols-3 gap-5 mt-6'>
      <% @game_day.teams.each_with_index do |team, index| %>
        <div>
          <h3 class='font-semibold mb-1' style="color: <%= colors[index] %>">
            Team <%= index + 1 %> - <span class='font-normal'><%= team.sum { |p| p["level"] } %></span>
          </h3>
          <ol class='ml-4' style='list-style: decimal'>
            <% team.sort_by { |p| p["level"] }.reverse.each do |player| %>
              <li><%= player["name"] %> - <%= player["level"] %></li>
            <% end %>
          </ol>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<div class="mt-7"></div>
