<div class="w-full">

  <h1 class="font-bold text-4xl mb-8">Crear equipo aleatorio</h1>

  <div class="grid grid-cols-2 gap-5">
    <%= form_with(model: @random_team,  url: random_teams_path, method: :post) do |form| %>
      <div class="flex gap-4 mb-4 max-w-md items-end">
        <div class="form-group">
          <%= form.label :players_per_team, class: "label" %>
          <%= form.number_field :players_per_team, class: "input input-bordered w-full max-w-xs", placeholder: 'Player per team' %>
        </div>
        <div class="form-group">
          <%= form.label :max_generation_attemps, class: "label" %>
          <%= form.number_field :max_generation_attemps, class: "input input-bordered w-full max-w-xs", placeholder: 'Player per team' %>
        </div>
        <div class="Gap">
          <%= form.label :gap, class: "label" %>
          <%= form.number_field :gap, class: "input input-bordered w-full max-w-xs" %>
        </div>
      </div>

      <div class="form-group max-w-xs">
        <%= form.text_area :list, class: "textarea textarea-bordered w-full min-h-[360px]", placeholder: "Lista de jugadores" %>
      </div>

      <%= form.submit "Generar", class: "btn mt-4" %>
    <% end %>

  </div>

  <% if @random_team.teams.any? %>
    <% colors = ["#FFB84C", "#98D8AA", "#393646", "tomato"]  %>

    <div class='grid grid-cols-3 gap-5 mt-6'>
      <% @random_team.teams.each_with_index do |team, index| %>
        <div>
          <h3 class='font-semibold mb-1' style="color: <%= colors[index] %>">
            Team <%= index + 1 %> - <span class='font-normal'><%= team.sum(&:level) %></span>
          </h3>
          <ol class='ml-4' style='list-style: decimal'>
            <% team.sort_by(&:level).reverse.each do |player| %>
              <li><%= player.name %> - <%= player.level %></li>
            <% end %>
          </ol>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if @random_team.missing_players.any? %>
    <div class="mt-6">
      <h3 class="font-semibold mb-1">Missing players</h3>
      <ul>
        <% @random_team.missing_players.each do |player| %>
          <li><%= player %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
