<header class="absolute inset-x-0 top-0 z-10">
  <nav
    class="flex items-center justify-between p-6 lg:px-8"
    aria-label="Global"
  >
    <div class="flex lg:flex-1">
      <%= link_to root_path, class: "-m-1.5 p-1.5" do %>
        <span class="sr-only">M11 app</span>
        <img
          class="h-8 w-auto"
          src="https://i.imgur.com/lRJcASQ.png"
          alt="m11 logo"
        />
      <% end %>
    </div>

    <div class="hidden sm:ml-6 sm:block ">
      <div class="flex space-x-8">
        <% if current_user&.admin %>
          <%= link_to t("menu.players"), players_path , class: "hover:bg-gray-100 px-3 py-2 rounded text-sm font-medium leading-6 text-gray-700" %>
          <%= link_to t("menu.create_team"), random_teams_path, class: "hover:bg-gray-100 px-3 py-2 rounded text-sm font-medium leading-6 text-gray-700" %>
          <hr>
        <% end %>
      </div>
    </div>


    <div class="flex lg:flex-1 lg:justify-end">
      <% if current_user %>
        <%= render 'shared/menu_profile' %>
      <% else %>
        <%= link_to sign_in_path, class: "text-sm font-semibold leading-6 text-gray-900" do %>
          Log in <span aria-hidden="true">&rarr;</span>
        <% end %>
      <% end %>
    </div>
  </nav>
</header>
