<%= form_with(model: game_day, class: "contents") do |form| %>
  <% if game_day.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(game_day.errors.count, "error") %> prohibited this game_day from being saved:</h2>

      <ul>
        <% game_day.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5 grid grid-cols-2 gap-4" data-controller="player-list-sync">
    <div>
      <%= form.label :player_list %>
      <%= form.text_area :player_list, rows: 12, class: "textarea textarea-bordered min-h-[480px] block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", data: { editable_sync_target: "textarea" } %>
    </div>

    <% if @validator %>
      <div class="textarea textarea-bordered w-full min-h-[360px] mt-8">
        <% @validator.full_players.each do |raw| %>
          <div class="w-full relative">
            <% if raw[:player].present? %>
              <div class="h-7 w-2"></div>
            <% else %>
              <%= content_tag :div, class: "relative", data: {
                controller: "autocomplete",
                autocomplete_url_value: players_autocompletes_path,
                action: "autocomplete.change->player-list-sync#copy"
              }, role: "combobox" do %>
                <input type="text" class="input input-bordered w-full input-xs" data-autocomplete-target="input" value="<%= raw[:name] %>" />
                <input type="hidden" name="bird_id" data-autocomplete-target="hidden" />
                <ul class="list-group bg-red-100 absolute z-20 w-full" data-autocomplete-target="results" hidden="">
                </ul>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
