<!DOCTYPE html>
<html>
  <head>
    <title>M11</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <meta property="og:title" content="M11 app">
    <meta property="og:description" content="Aumenta la diversión en tus partidos de fútbol">
    <meta property="og:image" content="https://i.imgur.com/UtQcZ1i.jpg">
    <meta property="og:url" content="<%= request.original_url %>">
    <meta property="og:type" content="website">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="bg-white">
      <%= render "shared/header" %>
      <%= render 'shared/flash_messages' %>
      <main class="container max-w-[1080px] mx-auto mt-8 px-5">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
